* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
 }
 
 .container {
    width: 90%;
    margin: 0 auto;
 }
 
 /* Header */
 
 header {
    background: url(./images/mobile/image-header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
 }


 
 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2em 0;
 }

 .ham-icon,
 .close-btn {
    display: none !important;
 }

 .nav-ul {
   display: block;
} 
 
 .nav-brand {
    padding-top: 0.38em;
 }
 
 nav > img {
    align-self: center;
 }
 
 nav > ul {
    display: none;
 }
 
 nav > ul > li {
    display: inline;
    padding-left: 2em;
 }
 
 nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
 }
 
 nav > ul > li > a:hover {
    color: rgb(221, 221, 221);
 }
 
 .btn {
    font-family: 'Fraunces', serif;
    font-size: 1.1rem;
    padding: 0.5em 0.75em;
    border-radius: 50px;
 }
 
 .btn:hover {
    background-color: #fff;
    padding: 0.5em 0.75em;
    color: hsl(212, 27%, 19%);
    transition: 0.8s ease-out;
    border-radius: 50px;
 }

 @media (max-width: 768px) {
   .ham-icon {
      cursor: pointer;
      display:  block !important;
   }

   .nav-ul {
      display: block;
      position: absolute;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 4em 7em;
      transition: 0.8s ease;
      z-index: -1;
   }  

   .nav-mob {
     z-index: 1;
   }

   nav > ul > li {
      display: block;
      padding: 0.9em 0;
      text-align: center;
   }

   nav > ul > li > a{
      color: hsl(213, 9%, 39%);
      padding: 0 0.75em;
   }

   .btn {
      font-family: 'Fraunces', serif;
      font-size: 1rem;
      background-color: hsl(51, 100%, 49%);
      padding: 0.75em;
      color: hsl(212, 27%, 19%);
      transition: 0.8s ease-out;
      border-radius: 50px;
   }

   nav > ul {
      transition: height 300ms linear;
   }

   .close-btn {
      color: #fff;
      display: none !important;
   }

   .show-close-btn {
      display: block !important;
   }

   .hide-ham-icon {
      display: none !important;
   }

   .show-ham-icon {
      display: block;
   }

 }

 @media (min-width: 768px) {
   header {
      background: url('./images/desktop/image-header.jpg');
      height: 100vh;
      background-position: center;
      background-size: cover;
   }
}
 
 /* Header > Hero Section */
 
 .hero-section {
    text-align: center;
    position: relative;
 }
 
 .hero-section h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    margin: 3.3em 0 2.9em 0;
    color: #fff;
    letter-spacing: 2px;
 }

 @media (max-width: 320px) {
   .hero-section h1 {
      margin: 1.1em 0 1.6em 0;
   }
 }

 @media  (min-width: 768px) {
   .hero-section h1 {
      margin: 2em 0 2em 0;
   }
 }
 
 /* Learn More */
 
 .learn-more img {
    width: 100%;
 }
 
 .learn-more-content-two {
    text-align: center;
    padding: 3.5em 0;
 }
 
 .learn-more-content-two h3 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    margin-bottom: 0.6em;
 }
 
 .learn-more-content-two p {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-family: 400;
    margin-bottom: 1.2em !important;
 }
 
 .learn-more-content-two a {
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    border-bottom: 4px solid hsl(51, 100%, 49%);
 }

 @media (min-width: 768px) {
   .learn-more-content1, .learn-more-content2 {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
   }

   .learn-more img {
      width: 50vw !important;
      height: auto;
   }

   .learn-more-content-one {
      width: 50vw !important;
   }

   .learn-more-content-two {
      padding: 0;
   }
 }
 
 /* Services-section-one */
 
 .services-section-one {
    background-image: url('./images/mobile/image-graphic-design.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 3em 1em;  
 }
 
 .services-section h3 {
    color: hsl(167, 40%, 24%);
    font-size: 1.5rem !important;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    padding-bottom: 1em;
 }
 
 .services-section p {
    color: hsl(167, 40%, 24%);
    font-size: 0.9rem !important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 1em;
    line-height: 1.5;
 }
 
 /* Services-section-two */
 
 .services-section-two {
    background-image: url('./images/mobile/image-photography.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 3em 1em;
 }
 
 .services-section-two p {
    color: hsl(198, 62%, 26%);
 }

 @media (min-width: 768px) {
   .services-section {
      display: flex;
      justify-content: center;
   }

   .services-section-one {
      background-image: url('./images/desktop/image-graphic-design.jpg');
      height: 90vh;
      justify-content: center;
      background-size: cover;
      width: 50vw;
   }

   .services-section-two {
      background-image: url('./images/desktop/image-photography.jpg');
      height: 90vh;
      justify-content: center;
      background-size: cover;
      width: 50vw;
   }

   .services-section h3 {
      padding-top: 47%;     
   }

 }

 /* testimonials-section */
 
 .testimonials-section {
    padding: 3.6em 0;
    text-align: center;
 }
 
 .testimonials-section h3 {
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 3.5em;
 }
 
 .testimonials-section-content img {
    border-radius: 100px;
    width: 80px;
    margin-bottom: 1.5em;
 }
 
 .testimonials-section p {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: hsl(213, 9%, 39%);
    margin-bottom: 1.5em;
 }
 
 .testimonials-section h4 {
    font-size: 1.2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    line-height: 1.6;
    color: #333;
    margin-bottom: 0.3em;
 }
 
 .testimonial-title {
    font-size: 0.9rem !important;
    color: rgb(167, 166, 166) !important;
    letter-spacing: 1.5px;
 }

 @media (min-width: 768px) {

   .testimonials-section {
      padding: 10em 0em;
   }

   .testimonials-section-content {
      display: flex;
   }

   .testimonials-two {
      padding: 0 1em;
   }

   .testimonials-section h3 {
      margin-bottom: 5em;
   }

   .testimonials-section-content img {
      margin-bottom: 3em;
   }

   .testimonials-section p {
      margin-bottom: 3em;
   }
 }

 .testimonials-one,
 .testimonials-two,
 .testimonials-three {
    margin-bottom: 4em !important;
 }
 
 /* Gallery Section */
 
 .gallery-section {
    display: grid;
    grid-template-columns: 50% 50%;
 }
 
 .gallery-section img {
    width: 100%;
 }

 @media (min-width: 768px) {
   .gallery-section {
      grid-template-columns: 25% 25% 25% 25%; 
   }
 }
 
 
 /* Footer */
 
 footer {
  background-color: hsl(167, 44%, 70%);
  text-align: center;
  padding: 3em 0;
 }
 
 footer h1 {
    color: hsl(167%, 44%, 32%);
    margin-bottom: 0.9em;
 }
 
 footer ul {
    list-style-type: none;
    margin-bottom: 3em;
 }
 
 footer ul li {
    display: inline;
 }
 
 footer ul li a {
    color: hsl(167%, 44%, 32%);
    text-decoration: none;
    padding: 0 1.2em;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
 }
 
 footer a {
    padding: 0 0.5em !important;
 }
 
 