* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 .container {
    width: 90%;
    margin: 0 auto;
 }
 
 /* Header */
 
 header {
    background: url(./images/desktop/image-header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
 }
 
 @media (max-width: 768px) {
    header {
       background: url(./images/mobile/image-header.jpg);
       height: 100vh;
       background-position: center;
       background-size: cover;
    }
 }
 
 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 2em 0;
 }
 
 .nav-brand {
    padding-top: 0.38em;
 }
 
 nav > img {
    align-self: center;
 }
 
 nav > ul {
    display: none;
 }
 
 nav > ul > li {
    display: inline;
    padding-left: 2em;
 }
 
 nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
 }
 
 nav > ul > li > a:hover {
    color: rgb(221, 221, 221);
 }
 
 .btn {
    font-family: 'Fraunces', serif;
    font-size: 1.1rem;
    padding: 0.5em 0.75em;
    border-radius: 50px;
 }
 
 .btn:hover {
    background-color: #fff;
    padding: 0.5em 0.75em;
    color: hsl(212, 27%, 19%);
    transition: 0.8s ease-out;
    border-radius: 50px;
 }
 
 /* Header > Hero Section */
 
 .hero-section {
    text-align: center;
 }
 
 .hero-section h1 {
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    margin: 1.3em 0 1.4em 0;
    color: #fff;
 }
 
 /* Learn More */
 
 .learn-more img {
    width: 100%;
 }
 
 .learn-more-content-two {
    text-align: center;
    padding: 3.5em 0;
 }
 
 .learn-more-content-two h3 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    margin-bottom: 0.6em;
 }
 
 .learn-more-content-two p {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-family: 400;
    margin-bottom: 1.2em !important;
 }
 
 .learn-more-content-two a {
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    border-bottom: 4px solid hsl(51, 100%, 49%);
 }
 
 /* Services-section-one */
 
 .services-section-one {
    background-image: url('./images/mobile/image-graphic-design.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 3em 1em;
 }
 
 .services-section h3 {
    color: hsl(167, 40%, 24%);
    font-size: 1.4rem !important;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    padding-bottom: 1em;
 }
 
 .services-section p {
    color: hsl(167, 40%, 24%);
    font-size: 0.8rem !important;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 1em;
    line-height: 1.5;
 }
 
 /* Services-section-two */
 
 .services-section-two {
    background-image: url('./images/mobile/image-photography.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 3em 1em;
 }
 
 .services-section-two p {
    color: hsl(198, 62%, 26%);
 }
 
 /* testimonials-section */
 
 .testimonials-section {
    padding: 3.6em 0;
    text-align: center;
 }
 
 .testimonials-section h3 {
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 3.5em;
 }
 
 .testimonials-section-content img {
    border-radius: 100px;
    width: 80px;
    margin-bottom: 1.5em;
 }
 
 .testimonials-section p {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: hsl(213, 9%, 39%);
    margin-bottom: 1.5em;
 }
 
 .testimonials-section h4 {
    font-size: 1.2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    line-height: 1.6;
    color: #333;
    margin-bottom: 0.3em;
 }
 
 .testimonial-title {
    font-size: 0.9rem !important;
    color: rgb(167, 166, 166) !important;
    letter-spacing: 1.5px;
 }
 
 /* Gallery Section */
 
 .gallery-section {
    display: grid;
    grid-template-columns: 50% 50%;
 }
 
 .gallery-section img {
    width: 100%;
 }
 
 
 /* Footer */
 
 footer {
  background-color: hsl(167, 44%, 70%);
  text-align: center;
  padding: 3em 0;
 }
 
 footer h1 {
    color: hsl(167%, 44%, 32%);
    margin-bottom: 0.9em;
 }
 
 footer ul {
    list-style-type: none;
    margin-bottom: 3em;
 }
 
 footer ul li {
    display: inline;
 }
 
 footer ul li a {
    color: hsl(167%, 44%, 32%);
    text-decoration: none;
    padding: 0 1.2em;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
 }
 
 footer a {
    padding: 0 0.5em !important;
 }
 
 